{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/inter.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reconocimiento de Asistencia</title>
  </head>
  <body>
    <main class="ini-input">
      <div class="centro">
        <form action="" method="post">
          {% csrf_token %}
          <img src="{% static 'assets/img/mlogo.png' %}"  ><br>
          <hr class="hrcolor">
          <div style="color: white;">Inicio sesión</div>
          <div><input class="ini-input" name="usuario" id="iusuario" type="text" placeholder="Usuario"></div><br>
          <div><input class="ini-input" name="pass" id="ipass" type="password" placeholder="Contraseña"></div><br>
          <div><input type="checkbox" name="show" id="ishow" onclick="toggle()"><label for="ishow" style="color: white;">Ver contraseña</label></div>
          <hr class="hrcolor">
          <div class="centrar">
            <button class="ini-input" type="submit">Iniciar sesión</button>
          </div>
        </form>
        {{data}}
        {% for i in data %}
          <div>{{ i.nomusuario }} - {{ i.contrasenia }}</div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
