{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/CSS/cont.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<form action="{% url 'regM' %}" method="POST">
		{% csrf_token %}
		<div class="vertical centrar" style="align-items: start;">
				<div style="width: 20%; text-align: center;" class="contUnitario">
						<div><img src="{% static 'assets/img/genericst.jpg' %}" style="width: 30%; border-radius: 50%;"></div>
						<hr class="hrcolor">
						<div style="color: white;"> Nombre del docente: {{ nomd }} </div>
						<div style="color: white;"> Nombre del curso: {{ data.idcurso.nombre }} </div>
						<hr class="hrcolor">
						<div style="color: white;">Registros: {{asistencia.0.IdHora}}</div>
						<hr class="hrcolor">
						<button onclick="location.href='{% url 'menuPrincipal' %}'">Volver</button>
						<button type="submit">Registrar alumnos</button>
				</div>
				<div style="width: 75%; height: 600px;" class="contUnitario estestudiantes">
					<input type="hidden" name="hora" value="{{asistencia.0.IdHora}}">
					<table class="estestudiantes">
						<tr>
							<th width="80%">Nombre</th>
							<th>Asistencia</th>
						</tr>
						{% for key in asistencia %}
						<tr>
							<td><div>{{ key.Apellidos }} {{ key.Nombres }}</td>
							<td style="text-align: center;">
								<label class="switch">
									<input id="ind[{{ forloop.counter0 }}]" name="ind[{{ forloop.counter0 }}]" value=1 type="checkbox" {% if key.Asistencia == 1 %}checked{% endif %}>
									<span class="slider round"></span>
								</label>
								<input id="cod[{{ forloop.counter0 }}]" name="cod[{{ forloop.counter0 }}]" type="hidden" value="{{ key.IdEstudiante }}">
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
		</div>
	</form>
</body>
</html>